aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.2.0
anaconda-anon-usage==0.4.4
anaconda-catalogs==0.2.0
anaconda-client==1.12.3
anaconda-cloud-auth==0.5.1
anaconda-navigator==2.6.3
anaconda-project==0.11.1
annotated-types==0.6.0
anyio==4.9.0
appnope==0.1.4
archspec==0.2.3
asttokens==3.0.0
attrs==23.1.0
awkward==2.8.10
awkward_cpp==50
beautifulsoup4==4.12.3
boltons==23.0.0
Brotli==1.0.9
cachetools==5.5.2
certifi==2025.4.26
cffi==1.17.1
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
comm==0.2.2
conda==24.11.3
conda-build==24.9.0
conda-content-trust==0.2.0
conda_index==0.5.0
conda-libmamba-solver==24.9.0
conda-pack==0.7.1
conda-package-handling==2.3.0
conda_package_streaming==0.10.0
conda-repo-cli==1.0.114
conda-token==0.5.0+1.g2209e04
contourpy==1.3.1
cramjam==2.11.0
cryptography==43.0.0
cycler==0.11.0
debugpy==1.8.14
decorator==5.2.1
deep-translator==1.11.4
defusedxml==0.7.1
discord.py==2.5.2
distro==1.9.0
dmglib==0.9.5
executing==2.2.0
fastjsonschema==2.16.2
filelock==3.13.1
fonttools==4.55.3
frozendict==2.4.2
frozenlist==1.4.0
fsspec==2024.6.1
google-ai-generativelanguage==0.6.15
google-api-core==2.24.2
google-api-python-client==2.170.0
google-auth==2.40.2
google-auth-httplib2==0.2.0
google-cloud-language==2.17.1
google-generativeai==0.8.5
googleapis-common-protos==1.70.0
grpcio==1.71.0
grpcio-status==1.71.0
h11==0.16.0
h2==3.2.0
hpack==3.0.0
hstspreload==2025.1.1
httplib2==0.22.0
hyperframe==5.2.0
idna==2.10
intake==2.0.7
ipykernel==6.29.5
ipython==9.2.0
ipython_pygments_lexers==1.1.1
jaraco.classes==3.2.1
jedi==0.19.2
Jinja2==3.1.4
jiter==0.10.0
joblib==1.5.2
jsonpatch==1.33
jsonpointer==2.1
jsonschema==4.23.0
jsonschema-specifications==2023.7.1
jupyter_client==8.6.3
jupyter_core==5.7.2
keyring==24.3.1
kiwisolver==1.4.8
libarchive-c==5.1
libmambapy==1.5.8
MarkupSafe==2.1.3
matplotlib==3.10.0
matplotlib-inline==0.1.7
menuinst==2.1.2
more-itertools==10.3.0
mpmath==1.3.0
multidict==6.0.4
navigator-updater==0.5.1
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
numpy==1.26.4
openai==1.82.1
opencv-python==4.10.0
opencv-python-headless==4.10.0
packaging==24.1
parso==0.8.4
pexpect==4.9.0
pillow==10.4.0
pip==24.2
pkce==1.0.3
pkginfo==1.10.0
platformdirs==3.10.0
pluggy==1.0.0
ply==3.11
prompt_toolkit==3.0.51
proto-plus==1.26.1
protobuf==5.29.5
psutil==5.9.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycosat==0.6.6
pycparser==2.21
pydantic==2.8.2
pydantic_core==2.20.1
Pygments==2.19.1
PyJWT==2.8.0
pyparsing==3.2.0
PyQt5==5.15.10
PyQt5-sip==12.13.0
PyQtWebEngine==5.15.6
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==0.21.0
pytz==2024.1
PyYAML==6.0.1
pyzmq==26.4.0
QtPy==2.4.1
referencing==0.30.2
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==1.5.0
rpds-py==0.10.6
rsa==4.9.1
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
ruamel-yaml-conda==0.17.21
scikit-learn==1.7.2
scipy==1.16.3
semver==3.0.2
setuptools==75.1.0
sip==6.7.12
six==1.16.0
sniffio==1.3.1
soupsieve==2.5
stack-data==0.6.3
sympy==1.14.0
tabulate==0.9.0
threadpoolctl==3.6.0
torch==2.9.1
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
truststore==0.8.0
typing_extensions==4.11.0
ujson==5.10.0
unicodedata2==15.1.0
uproot==5.6.8
uritemplate==4.1.1
urllib3==2.2.3
wcwidth==0.2.13
wheel==0.44.0
xxhash==3.6.0
yarl==1.11.0
zstandard==0.23.0
